<div>
    <mat-toolbar class="mat-elevation-z4 nav-bar">
        <div>
            <img class="mat-elevation-z4 img" src="../../../assets/images/mosquitto-text-side.png" />
        </div>
    </mat-toolbar>
</div>

<!-- <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <button mat-raised-button>Click me</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <p>Content</p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->
