html, body {
    background-color: rgb(241, 241, 241);
    height: 100%;
    margin:0;
    padding: 0;
}

.nav-bar {
    position: sticky;
    z-index:2;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.align-side-nav {
    width: 20%;
    background-color: rgb(49, 71, 113);
    z-index:1;
    position: sticky;
    position: -webkit-sticky;
}

.align-main {
    width: 80%;
    padding:100px;
}

.main-div {
    display: flex;
    flex-direction: row;
}

.height-max {
    height: 100%
}
