@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '~material-design-icons/iconfont/material-icons.css';

/* body, html {
    padding: 0;
    width: 100%;
    height: 100%;
}
 
.my-container{
   width: 100%;
   height: 100%;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
